/*  your css code here. If applicable */
.tittle{
	background-color:#F0F0F0;
	height:30px;
	padding:20px;
	text-align:center;
}
.book-library{
	background-color:#F0F0F0;
	position:relative;
	top:35px;
	height:370px;
}
.book{
	border:1px solid;
	position:relative;
	top:25px;
	height:250px;
	width:180px;
	left:230px;
}
.name{
	padding:7px;
}
.author{
	padding:7px;
	color:#777777;
	position:relative;
	top:-20px;
}
.price{
	position:relative;
	top:-40px;
	left:10px;
	width:640px;
	height:30px;
	padding:5px;
	background-color:rgb(46, 204, 113);
	border-radius:5px;
	border:none;
}